<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="~/jquery.js"></script>
    <script src="~/dx.all.js"></script>
    <script src="~/dx.aspnet.data.js"></script>

    <link rel="stylesheet" href="~/dx.light.css">

    <title>EditCellTemplateRemoteOperations</title>
</head>
<body>
@RenderBody()

<script src="~/main.js"></script>

</body>
</html>